@model LanchesMac.Models.Snack

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deletar</h1>

<h3>Tem certeza que quer deletar?</h3>
<div>
    <h4>lanche</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmallDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmallDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgThumbnailPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgThumbnailPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFavorite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFavorite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvaible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvaible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
