@model LanchesMac.Models.Snack

@{
    ViewData["Title"] = "Detailhes";
}

<h1>Detailhes</h1>

<div>
    <h4>Lanche</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmallDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmallDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgThumbnailPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgThumbnailPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFavorite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFavorite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvaible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvaible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
